01_Infrastructure/Infrastructure.Core/Config/CalculateSettings.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Infrastructure.Core.Config" elementFormDefault="qualified" targetNamespace="urn:Infrastructure.Core.Config" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="calculateSettings" type="tns:Infrastructure.Core.Config.CalculateSettingsCT" />
	<xs:complexType name="Infrastructure.Core.Config.CalculateSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="providerSettings" type="tns:Infrastructure.Core.Config.ProviderSettingsCT">
				<xs:annotation>
					<xs:documentation>The ProviderSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="dispatcherDefaultInterval" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DispatcherDefaultInterval.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dispatcherDefaultProtectedDay" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The DispatcherDefaultProtectedDay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="isQueryLocalOnly" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The IsQueryLocalOnly.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="effectiveAirlineUrl" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The EffectiveAirlineUrl.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="flightConditionIntervalStrategyName" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The FlightConditionIntervalStrategyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Infrastructure.Core.Config.ProviderSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="providerSetting" type="tns:Infrastructure.Core.Config.ProviderSettingCT">
				<xs:annotation>
					<xs:documentation>The ProviderSetting.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Infrastructure.Core.Config.ProviderSettingCT">
	</xs:complexType>
</xs:schema>
