Service/Danwu.Services.Tests/Service References/UserService/UserService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Danwu.Application.DTO.System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Danwu.Application.DTO.System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastLogonTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NickName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassWord" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RealName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RegisterTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
</xs:schema>